.homepagecontainer {
  width: 100%;
  max-width: 360px;
  margin: 20px auto;
  padding: 6px;
  border: 4px solid #b87333;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #fff;
}

.headercomponent {
  border:
  padding:
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom:6px;
  }

  .searchbarcomponent
  {
    border: 3px solid #385623;
    padding: 6px;
    margin-bottom: 6px;
  }

  .innerinputplaceholder
  {
height: 28px;
border: 1px solid #7f7f7f;
background-color: #fafafa;
  }

  .employeelistcomponent
  {
    border: 3px solid #c00000;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 12px;

  }

  .avatorplaceholder
  {
    
  }

  